UTC OLP Staff List with initials June 2024.docx
Supply Information Sheet Thursday 26th June SU4.docx

/outputs

# Standard Python ignores
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/
env/
ENV/
.env/

# Jupyter and VS Code
.ipynb_checkpoints/
.vscode/

# OS cruft
*.DS_Store
Thumbs.db
