<div class="supply-info">
    <strong>NB:</strong>
    <ul style="list-style-type: none; padding: 0; margin: 10px 0;">
        <li>School opens to students at <strong>8:10am</strong></li>
        <li>School day ends at <strong>2:35pm</strong> on <strong>Monday</strong> and <strong>Friday</strong></li>
        <li>School day ends at <strong>3:30pm</strong> on <strong>Tuesday</strong>, <strong>Wednesday</strong>, and <strong>Thursday</strong></li>
    </ul>

    <div class="maps">
      <img src="../static/Floor-0.png"/>
      <img src="../static/Floor-1.png"/>
      <img src="../static/Floor-2.png"/>
      <img src="../static/Floor-3.png"/>
    </div>

</div>


<div class="supply-info">
  <h2>{supply} Information Sheet</h2>
  <img src="https://www.utcsheffield.org.uk/olp/assets/sites/3/2020/10/UTC-Sheffield-Olympic-Legacy-Park.png" alt="School Logo" class="logo" style="top: 0; left: 0; width: 100px;"></br></br>
  <h2>Health &amp; Safety</h2>
  <h4>All staff employed via an agency working at the UTC has the responsibility to:</h4>
  <ul class="bulleted-list">
    <li>Take reasonable care for the health and safety of themselves and others when undertaking their work.</li>
    <li>Check classrooms/work areas are safe and check equipment is safe before use.</li>
    <li>Ensure safe working procedures are followed, including Covid-19 guidance.</li>
    <li>Co-operate with the Trust, Governors and Principal on all matters relating to health and safety by complying with the health and safety policy.</li>
    <li>Not intentionally or recklessly interfere with or misuse any equipment or fittings provided in the interests of health, safety and welfare.</li>
    <li>Report any serious or immediate dangers to the Curriculum Director in the area you are working in or any member of SLT <strong>immediately.</strong></li>
    <li>Report to the Business &amp; Operations Manager any shortcomings in the arrangements for health and safety.</li>
    <li><strong>NOT</strong> use equipment or machinery that you are not trained in the use of.</li>
    <li>Sign in and out of the building for fire safety and wear the staff lanyard and identification badge at <strong>ALL</strong> times.</li>
    <li>Ensure that the swipe card &amp; keys allocated are kept safe at all times and <strong>NEVER</strong> handed to a student.</li>
  </ul>

  <h2>Fire Procedure</h2>
  <p>The fire alarm is tested on a Wednesday morning before students are in the building.</p>
  <p>If the bell is continuous and not just a short beep for lesson changeover then please escort your class to the nearest exit and direct them to the muster points at the back of the UTC.</p>
  <p>Please make sure you know where the closest emergency exits and emergency stairwells are to where you are teaching.</p>

  <h2>Toilets</h2>
  <p>Please use the disabled / staff toilets not the student toilets because of safeguarding.</p>

  <h2>First Aid</h2>
  <h4>In the event a student needs First Aid, please:</h4>
  <ul class="bulleted-list" style="max-width: 500px;">
    <li>Send them to Reception.</li>
    <li>Ask another student to go to Reception for help.</li>
    <li>Ask a member of staff to radio/telephone Reception on 3940.</li>
  </ul>
  <h2>Safeguarding &amp; Child Protection</h2>
  <p>Please refer any concerns to the Designated Safeguarding Lead (Mrs J Stevenson)</p>

  <br><br>
  <p>I have read the above</p>
  <p>Signed………………………………………&nbsp;&nbsp;&nbsp;&nbsp;Date…………………….</p>
  <p>Print Name…………………………………………………………………………………………..</p>
</div>
